<!DOCTYPE html>
<html>
  <head>
    <title>FinanceTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
    <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
  </head>

  <body>
    <div class="nav">
      <div class="container">
        <%= link_to root_path do %>
          <i class="em em-money_mouth_face"></i>
        <% end %>
        <%= link_to :categories, categories_path, class: 'button button-clear' %>
        <%= link_to :transactions, transactions_path, class: 'button button-clear' %>
        <%= link_to :accounts, accounts_path, class: 'button button-clear' %>
      </div>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
